In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Load credentials from .env file
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

# Create database connection URL (for MySQL; change driver if needed)
db_url = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create SQLAlchemy engine
engine = create_engine(db_url)

In [4]:
# Step 1: Load base tables
merchantdocuments = pd.read_sql("SELECT SalesOwnerId FROM merchantdocuments", engine)
abpusers = pd.read_sql("SELECT Id, UserName, ManagerId FROM abpusers", engine)
abpuserroles = pd.read_sql("SELECT UserId, RoleId FROM abpuserroles", engine)
abproles = pd.read_sql("SELECT Id, Name FROM abproles", engine)

In [5]:
# Step 2: merchantdocuments JOIN abpusers (SalesOwnerId = u.Id)
df = merchantdocuments.merge(
    abpusers,
    left_on="SalesOwnerId",
    right_on="Id",
    how="inner"
)

In [6]:
# Step 3: LEFT JOIN with abpuserroles
df = df.merge(
    abpuserroles,
    left_on="Id",
    right_on="UserId",
    how="left"
)

In [7]:
# Step 4: LEFT JOIN with abproles
df = df.merge(
    abproles,
    left_on="RoleId",
    right_on="Id",
    how="left",
    suffixes=("", "_role")
)

In [8]:
# Step 5: Select + rename
final_df = df[["UserName", "Name", "ManagerId"]].rename(columns={
    "UserName": "OfficerName",
    "Name": "role_name",
    "ManagerId": "ManagerId"
})

# Step 6: Reset index for cleanliness
final_df = final_df.reset_index(drop=True)
final_df

   OfficerName    role_name ManagerId
0   salesOwner  Sales Owner      None
1   salesOwner  Sales Owner      None
2   salesOwner  Sales Owner      None
3   salesOwner  Sales Owner      None
4   salesOwner  Sales Owner      None
5   salesOwner  Sales Owner      None
6   salesOwner  Sales Owner      None
7   salesOwner  Sales Owner      None
8   salesOwner  Sales Owner      None
9   salesOwner  Sales Owner      None
10  salesOwner  Sales Owner      None
11  salesOwner  Sales Owner      None
12  salesOwner  Sales Owner      None
13  salesOwner  Sales Owner      None
14  salesOwner  Sales Owner      None
15  salesOwner  Sales Owner      None
16  salesOwner  Sales Owner      None
17  salesOwner  Sales Owner      None
18  salesOwner  Sales Owner      None
19  salesOwner  Sales Owner      None
20  salesOwner  Sales Owner      None
21  salesOwner  Sales Owner      None
22  salesOwner  Sales Owner      None